.text-section-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-section-container:hover .attach-button{
    opacity: 1;
}

.text-section-input{
    position: relative;
    border-left: 3px solid #2f3640;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 10px 10px 0px 10px;
    outline: none;
    width: 100%;

    resize: none;

    font-size: 30px;
    resize: none;
    overflow: hidden;
}

.attach-button{
    position: absolute;
    left: -50px;
    background-color: #2ecc71;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;

}

.attach-button:hover{
    cursor: pointer;
    background-color: #0e813e;
}

.attach-button span{
    position: relative;
   top: -15%;
   
}

.insert-menu-container{
    position: absolute;
    background-color: white;
    padding: 20px;
    width: 170px;
    height: 135px;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
   flex-direction: column;
   box-shadow: 0px 0px 10px black;
   border-radius: 5px;
}

.insert-selection{
    background-color: #1abc9c;
    border: 2px solid #2f3640;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
    transition: 0.3s;
}

.insert-selection:hover{
    cursor: pointer;
    background-color: white;
    color: #1abc9c;
}

.image-browser-container{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: white;
    left: 50%;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-select:hover{
    cursor: pointer;
}

.image1-select{
    background: url('../../../images/image1.jpg');
    width: 180px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image2-select{
    background: url('../../../images/image2.jpg');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image3-select{
    background: url('../../../images/image3.jpg');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image4-select{
    background: url('../../../images/image4.jpg');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}



.image-holder{
    
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.image-holder img{
   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 400px;
}